listener/node_modules
api/node_modules
./api/node_modules/
request/node_modules
validations/node_modules
history/node_modules
recommendation_service/jobsMaster/node_modules
recommendation_service/workers/node_modules
auctions_proposals/node_modules
/node_modules
node_modules
**/node_modules/
.DS_Store
.env
**/.env
grupo14arquisis.pem
grpo14arquisis.pem
.env
/api/.env
/api/node_modules
./validations/node_modules
./history/node_modules
./listener/node_modules
./listener/.env
./requests/.env
./recommendation_service/jobsMaster/node_modules
./recommendation_service/workers/node_modules
./recommendation_service/jobsMaster/.env
./recommendation_service/workers/.env
.recommendation_service/.env
