listener/node_modules
api/node_modules
requests/node_modules
validations/node_modules
/node_modules
node_modules
.DS_Store
.env
**/.env
grupo14arquisis.pem
.env
/api/.env
/api/node_modules
./validations/node_modules
./history/node_modules
./listener/node_modules